header.slide { background-color: #6c71c4; color: #fff; }

body section.header.slide h1 {
	font-weight: normal;
	color: #839496;
}

.scale img { max-height: 500px; }

.full h1 { position: fixed; z-index: 1; color: #fff; text-shadow: 3px 3px 3px #333; }
.full img { position: fixed; left: 0; top: 0; height: 80%; opacity: 0.9; }
